/* styles/TreeMap.module.css */
.container {
    display: flex;
    height: 100%;
  }
  
  .wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .node {
    border: 1px solid #fff;
    margin: 2px;
    padding: 8px;
    text-align: center;
    color: #fff;
    background-color: #3498db;
    overflow: hidden;
  }
  