.menu {
  background-color: #eeeded;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #030303;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column; 
  }
}
